#time {
    justify-content: center;
    text-align: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0575/0987/1774/files/1_6df15c2e-7475-4b2e-839e-3826bc5c02f6.png?v=1653967370");
    background-size: cover;
}

#vid, #test, #alarm_photo {
    width: 50%;
    height: auto;
}

#alarm_info {
    text-align: center;
    border: solid;
    width: 80%;
    position: relative;
    left: 10%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    #alarm_info {
        width: 90%;
        left: 5%;
    }
}
